vim/.VimballRecord
vim/.netrwhist
vim/tmp/
vim/plugged
fish_history
fish_read_history
fishd.*
config/fish/config.*.copy
.spacemacs.env
Brewfile.lock.json
home-manager/result
.DS_Store
config/konsole/*.colorscheme
config/uv/uv-receipt.json
*.bak
config/zed/prompts/
config/zed/settings_backup.json

# I'd like to sync these but they have machine-specific stuff and hostnames/etc
config/zed/settings.json
config/zed/tasks.json