vim/.VimballRecord
vim/.netrwhist
vim/tmp/
vim/plugged
fish_history
fish_read_history
fishd.*
config/fish/config.*.copy
.spacemacs.env
Brewfile.lock.json
home-manager/result
.DS_Store
config/konsole/*.colorscheme
